body{
	background:#DCF4FF;
}
.calculator{
	border:none;
	border-redies:10px;
	box-Shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px o rgba(0, 0, 0, 0.19);
	width:300px
	margin:20px auto;
	backgraound-color:#FFAAAA
	display:flex;
	flex-direction:column;
	align-items:center;
	padding:20px;
	font-family:Arial,Sans-serif;
}
 
.result{
	width:100%;
	margin-bottom:20px;
	padding:10px;
	font-size:24px;
	text-align:right;
	background-color:#E8FFFF;
	border:none;
	border-radius:5px;
	outline:none;
	box-Shadow:0 0 5px rgba(0, 0, 0, 0.1);
}

.buttons{
	border-radius:10px;
	padding:5px;
	background-color:#C2BCBC;
	display:grid;
	grid-template-columns:repeat(4,lfr);
	grid-gap:10px;
	width:100%;
}

.buttons button{
padding:10px;
font-size:20px;
background-color:#F3FOFF;
border:none;
outline:none;
cursor:pointer;
border-radius:5px;
}

.buttons button:hover{
	background-color:#DED7FF;
}

.buttons button:active{
	transform:Scale(0.95);
}

